@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
}
:root{
    --font-primary: 'Poppins', sans-serif;
    --font-secundary: 'Iosevka Charon', monospace;
    --font-size-primary: 16px;
    --font-weight-primary: 500;
    --font-weigth-secundary: 400;
}
body{
    font-family: var(--font-primary);   
}
/*Styles del sidebar nota: a cada elemento le pondre coments para que lean el codigo bien */
aside{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    height: 100vh;
    padding:20px;   
    /*Color de fondo del sidebar*/
    background-color: #1D634F;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;     
}
.logo{
    overflow:visible;
    display: flex;
    align-items: center;
    gap:12px;
    margin-bottom: 20px;
}
.logo-text{
    
    text-align: center;
    font-family: var(--font-secundary);
    font-size: 30px;
    font-weight: 700;
    color: #EDEDED;
}
.sidebar ul{
    display:flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding:0;
    
}
.sidebar ul li a{
    display:grid;
    grid-template-columns: 40px 1fr;
    gap :10px;
    padding:10px 20px;
    align-items: center;  
    margin-top:10px; 
    color:#EDEDED;
    font-size: var(--font-size-primary);
    font-weight: var(--font-weight-primary);
    border-radius: 12px; 
    transition:all 0.3s ease-in-out;   
}
.sidebar ul li a:hover{    
    background-color: rgba(255, 255, 255, 0.08);
}
.sidebar ul li a.active{
    background-color: #2FA084;    
}
/*logout style*/
.sidebar_2{
    margin-top: auto;
}


